* {
  border-radius: 10px;
  border: none;
}


window {
  font-size: 20px;
  font-family: "JetBrainsMono Nerd Font";  
  background-color: rgba(30,30,46,0.8);
  color: white;


}
#entry{
  padding: 0.25em;
}

#entry:selected {
  background-color: #b4befe;
  color: black;
}

#text:selected {
  color: black;

}

#input {
  background-color: rgba(30,30,46,0.5);
  color: white;
  padding: 0.25em;

}
